*{
    font-family: monospace;
    font-size: 16px;
    
}
header{
    text-align: center;
    
}
header h1{
    font-size: 30px;
}
main{
    padding: 30px;
}
.paragraph{
    width: 90%;
    margin: auto;
    font-weight: 700;
}
.box-postcards{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.postcards{
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px; 
    grid-template-rows: 200px 200px;
    row-gap: 10px;
    column-gap: 10px;
}
.postcards.items{
    display: flex;
}
.items-img{
    width: 80px;
    height: 80px;
}